venv/
GroundingDINO/
output/
weights/
dataset/
test_pictures/

__pycache__/
.vscode/

# Build files
build/

# Executable
guardian_sight
# guardian_lense    # DEPR

# Random images & videos
*.jpg
*.png
*.avi

